.App {
  text-align: center;
  
}

*{
  outline: 1px solid red;

}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.cards-container{
  display: flex;
  justify-content: center;

 
}